#head {
    color: white;
    font-size: 20px;
    text-align: center;
}

#paragraph {
    color: white;
    font-size: 18px;
    text-align: center;
}

#topic {
	color: white;
	font-size: 40px;
	text-align: center;
}

#name {
	color: white;
	font-size: 25px; 
}

#link {
	font-size: 25px;
}
.img-responsive {
	display: block;
	max-width: 100%;
}

body { 
  background: url("http://cdn.pcwallart.com/images/universe-stars-background-wallpaper-2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}