#head {
    color: white;
    font-size: 20px;
    text-align: center;
}

#paragraph {
    color: white;
    font-size: 18px;
    text-align: center;
}


#listhead {
    color: white;
    font-size: 19px;
    text-align: center;
}

#list {
    color: white;
    font-size: 18px;
    text-align: left;
}

#topic {
	color: white;
	font-size: 40px;
	text-align: center;
}

#name {
	color: white;
	font-size: 30px; 
}

#link {
	font-size: 25px;
}

#email {
	font-size: 27.5px;
}
.img-responsive {
	display: block;
	max-width: 100%;
}

.container {
	background-color: rgba(0,0,0,.5);
}

/*.fixed {
	position: fixed;
}*/

@media (min-width: 1000px) {
	.fixed {
		position: fixed;
	}
}

body { 
  background: url("http://cdn.pcwallart.com/images/universe-stars-background-wallpaper-2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}